<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ares.mapper.BorrowerMapper">
    <insert id="save" parameterType="borrow"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_borrower(name, certificate_type, certificate_num, phone)
        values (#{name}, #{certificateType}, #{certificateNum}, #{phone})
    </insert>
</mapper>